@keyframes rotate-x {
  50% {
    -webkit-transform: rotateY(360deg);
  }
}

.rotater {
  animation: rotate-x 1s all infinite;
}

.collection_wrapper {
  margin-top: 8rem;
  min-height: 120vh;
}

@media screen and (min-width: 1200px) {
  .collection_wrapper {
    min-height: 80vh;
  }
}
