$animation-speed: 0.3s;
$animation-function: ease-out;
$backdrop-color: rgba(51, 51, 51, 0.9);

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

$base-color: #ffb200;
$base-color-two: #5a4bcc;
$base-color-three: #c06ed8;
$para-font: "Josefin Sans";

// bg-color
$bg-one: #0f0232;
$bg-two: #02014a;

@keyframes animate_ml {
  0% {
    background-color: #ffb200;
    color: #0f0232;
  }
  50% {
    background-color: #c06ed8;
  }
}

.animate_ml {
  box-shadow: 0px 0px 3px $base-color;
  animation: animate_ml 1s alternate infinite ease-in;
  padding: 0 1rem;
  border-radius: 0.2rem;
}

@keyframes modal-video {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }

  to {
    transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: $animation-function;
  animation-duration: $animation-speed;
  animation-name: modal-video;
  -webkit-transition: opacity $animation-speed $animation-function;
  -moz-transition: opacity $animation-speed $animation-function;
  -ms-transition: opacity $animation-speed $animation-function;
  -o-transition: opacity $animation-speed $animation-function;
  transition: opacity $animation-speed $animation-function;
}

.modal-video-effect-exit {
  opacity: 0;

  & .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
}

.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (orientation: landscape) {
    padding: 10px 60px;
    box-sizing: border-box;
  }
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: $animation-function;
  animation-duration: $animation-speed;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform $animation-speed $animation-function;
  -moz-transition: -moz-transform $animation-speed $animation-function;
  -ms-transition: -ms-transform $animation-speed $animation-function;
  -o-transition: -o-transform $animation-speed $animation-function;
  transition: transform $animation-speed $animation-function;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 50%;

  @media (orientation: landscape) {
    top: -40px;
    right: -65px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.util_card_gradient {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    #c06ed8,
    #8c53ad,
    #5d3883,
    #321f59,
    #0f0232
  );
  box-shadow: -2px -2px 5px $base-color-three, 2px 2px 5px $bg-one;

  .title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: $base-color;
    @media (min-width: 1200px) {
      font-size: 3rem;
    }
  }

  .subtitle {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    @media (min-width: 1200px) {
      font-size: 2.4rem;
    }
  }
}

.bnb_value {
  font-size: 2rem;
  color: $base-color;
  @media (min-width: 1200px) {
    font-size: 4rem;
  }
}
.bnb {
  font-size: 1.5rem;
  color: white;
  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}

.timer_tick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
  .timer {
    color: $base-color;
    text-align: center;
    font-size: 0.8rem;
  }
  .tick {
    text-align: center;
    background: $bg-one;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    border-radius: 6px;
    color: $base-color;
    font-size: 32px;
    margin: 1rem 0 0 0;
    @media (min-width: 1200px) {
      min-width: 72px;
      max-width: 72px;
      min-height: 72px;
      max-height: 72px;
      font-size: 48px;
    }
  }
}

.main_module_ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.sub_module_ul {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  line-height: 1;
}

.tick_w {
  background: $bg-one;
  border-radius: 4rem;
  color: $base-color;
  font-size: 26px;
  min-height: 48px;
  max-height: 48px;
  min-width: 48px;
  max-width: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elon_parent {
  position: relative;
  top: 0;
  left: 0;
}
.elon_image1 {
  position: relative;
}
.elon_image2 {
  position: absolute;
  left: 140px;
  top: -12px;
  z-index: 1000;
  opacity: 0.3;
  animation: elon_animate 800ms 1s ease-in-out infinite;
}

@keyframes elon_animate {
  0% {
    transform: translateX(-1px) translateY(-2px);
  }
  50% {
    transform: scale(1.01) translateX(-2px) translateY(-1px);
  }
}

.footer_bottom_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 2rem;
}

.neu_grad_img {
  z-index: -1;
  position: relative;
}
.neu_grad {
  background-image: radial-gradient(
    circle,
    #5a4bcc,
    #4538a2,
    #31277a,
    #1d1655,
    #0f0232
  );
  margin-top: 0.4rem;
  padding: 1rem;
  background: $bg-one;
  min-height: 80px;
  margin: auto;
  color: $bg-one;
  box-shadow: 2px 2px 5px $base-color-two, -2px -2px 5px $base-color;
  border-radius: 1rem;
  z-index: 100;
  width: 100%;

  img {
    z-index: 2;
  }
}

.mcl {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main_txt {
  color: white;
  font-size: 1.5rem;

  font-weight: 900;
  text-align: center;
  @media (min-width: 720px) {
    font-size: 1.75rem;
    margin: 0 0 1rem 0;
  }
}

.main_txt_under {
  margin: 1rem 0 0.5rem 0;
  color: #ffb200;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1;
  @media (min-width: 720px) {
    font-size: 3.3rem;
  }
  @media (min-width: 1330px) {
    font-size: 4rem;
  }
}

.main_txt_under_sub {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 0 1rem 0;

  @media (min-width: 720px) {
    font-size: 1.6rem;
  }
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

.gd_text {
  font-weight: 900;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.tag {
  color: $base-color;
}

//=== Drawing effect
@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $bg-one;
    background: $base-color;
  }

  &::before,
  &::after {
    border-color: $hover;
    transition: border-color 0s, width $duration, height $duration;
    width: 100%;
    height: 100%;
  }

  &::before {
    transition-delay: 0s, 0s, $duration;
  }

  &::after {
    transition-delay: 0s, $duration, 0s;
  }
}

.draw-border {
  @include btn-border-drawing(
    $base-color,
    $base-color-three,
    3px,
    bottom,
    right
  );
}

//=== Button styling, semi-ignore
.btn_x {
  background: #0f0232;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em 2em;
  letter-spacing: 0.05rem;

  &:focus {
    outline: 2px dotted #55d7dc;
  }
}

// Basic Button Style
.btn_y {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $bg-one;
  color: $base-color;
  cursor: pointer;
  display: flex;
  align-self: center;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  text-align: center;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

$red: #e74c3c;
$blue: #3498db;

//BUTTON 3
.secondary {
  border-color: $blue;
  color: $base-color;
  box-shadow: 0 0 40px 40px $bg-one inset, 0 0 0 0 $base-color;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $base-color-three inset, 0 0 10px 4px $base-color-two;
  }
}

.elontix_img {
  display: flex;
  justify-content: center;
  max-width: 320px;
  align-items: center;
  margin: 1rem auto 0 auto;
}

.elontix_img_hidden_b {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.elontix_img_hidden_t {
  display: flex;
  @media (min-width: 1200px) {
    display: none;
  }
}

.btn_grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.partner_text {
  font-size: 1rem;
  @media (min-width: 1200px) {
    font-size: 1.4rem;
  }
}

.charity_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charity {
  max-height: 256px;
  min-height: 256px;
  background-image: url("/images/utils/child0.jpg");
  background-position: center;
  background-size: contain;
  background-clip: content-box;
  // object-fit: contain;
  // object-position: center bottom;
  background-repeat: no-repeat;
  padding: 0;
  width: 100%;
  @media (min-width: 820px) {
    margin: 2rem 0;
    background-image: url("/images/utils/child.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
  }
}

.hero_bottom_banner {
  position: absolute;
  z-index: 999;
  top: 0%;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-one;
  box-shadow: 2px 2px 5px $base-color-two, -2px -2px 5px $base-color;
  @media (min-width: 1240px) {
    border-radius: 4rem;
  }
}

.hero__obj,
.hero__obj_h,
.hero__circle {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: $base-color;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $base-color;
}

body::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
  background-color: $bg-one;
}

.partner_image {
  max-width: 200px;
  @media (min-width: 720px) {
    max-width: 360px;
  }
}

.roadmap_card_text {
  font-size: 0.9rem;

  @media (min-width: 720px) {
    font-size: 1rem;
  }
}

.tokenomics_card_text {
  font-size: 0.8rem;

  @media (min-width: 720px) {
    font-size: 1rem;
  }
}
